* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

h1 {
    background-color: black;
    color: #fff;
}